<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">

    <style>

        body {

            background-image: url("assets/images/images.jpg");

            height: 100%;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        img:hover {
            opacity: 0.5;
            filter: alpha(opacity=50);
        }
    </style>
  </head>

<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">

          <img src="assets/images/logo2.png" alt="logo"/>
      </div>
      <nav class="navbar-collapse collapse">
	  
		<ul class="nav navbar-nav ">

            <li><a href="index.html"> Home </a></li>
		  <li><a href="list.html"> List your Work </a></li>
		   <li><a href="look.html">Help your Neighborhood</a></li>
		  
        </ul>
      </nav>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
</nav>


<div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                	            
                    <div class="row">
                     
  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">

          <h1> Giving back to your community just got easier!</h1>
    
			  </form>
        </div>
        
      </div>
    </div>
  </div>
        </div>
        
      </div>
    </div>
  </div>		
  
  <footer>
      <div class="footer">

        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>&copy;Volunteer Team 
        					</p>
        			</div>
        			
        		</div>
        	</div>
      </div>
        </footer>


       

</body>

</html>
