<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/form-elements.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQ4S0LOhaQh0-WxvsWg5cFPzTuPJt_E3U"></script>

    <!-- siimple style -->
    <style>
        #geomap{
            width: 175%;
            height: 652px;
        }
    </style>
    <script>
        function validateForm() {
            var name = document.forms["list"]["name"].value;
            var task= document.forms["list"]["task"].value;
            var email = document.forms["list"]["email"].value;
            if (name == "")
            {
                alert("Please enter your first name.");
                return false;
            }
            if (task == "")
            {
                alert("Please provide a detailed description about work.");
                return false;
            }
            if (email == "")
            {
                alert("Please enter email address.");
                return false;
            }
        }
    </script>
</head>


<!-- Fixed navbar -->
<nav class="navbar navbar-inverse">
    <div class="container">

        <nav class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <img src="/images/logo2.png" alt="logo"/>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li><a href="index.html"> Home </a></li>
                <li><a href="list.html"> List your Work </a></li>
                <li><a href="look.html">Help in your Neighborhood</a></li>

            </ul>
        </nav>
    </div>
    <!--/.nav-collapse -->

</nav>
<body>
<div class="top-content">

    <div class="inner-bg">
        <div class="container">

            <div class="row">
                <div class="col-sm-5">

                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>List your work here</h3>
                                <p>Please enter the volunteer work details here!</p>
                            </div>

                        </div>
                        <div class="form-bottom">

                            <form data-toggle="validator" name="list" role="form" action="/setopportunity" onsubmit="return validateForm()" method="GET">

                                <div class="form-group">


                                    <input type="text" class="form-control" id="name" placeholder="Enter Your Name" name="name" required>
                                </div>




                                <div class="form-group">

                                    <select class="form-control" id="choose" name="choose" required>

                                        <option value="0">Choose Type of Work</option>
                                        <option value="1">Disabled Assisstance</option>
                                        <option value="2">Domestic Help</option>
                                        <option value="3">Community event organizing</option>
                                        <option value="4">Environmental voluntary work</option>

                                    </select>
                                </div>


                                <div class="form-group">

                                    <input type="text" class="form-control" id="task" placeholder="Enter Task Decription" name="task" required>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="search_addr" name="address" placeholder="Enter your address in search locator" size="42" required="required">

                                </div>
                                <div class="form-group">
                                    <input type="text"  class="search_latitude" size="42" name="lat" placeholder="Latitude" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="search_longitude" size="42" name="lng" placeholder="Longitude" required="required">
                                </div>

                                <button type="submit" class="btn btn-default">Submit</button>


                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <form>
                        <div class="form-group input-group">
                            <input type="text" id="search_location" class="form-control" placeholder="Search location">
                            <div class="input-group-btn">
                                <button class="btn btn-default get_map" type="submit">
                                    Locate
                                </button>
                            </div>
                        </div>
                    </form>
                    <div id="geomap"></div>


                    <script>
                        var geocoder;
                        var map;
                        var marker;
                        /*
                         * Google Map with marker
                         */
                        function initialize() {
                            var initialLat = $('.search_latitude').val();
                            var initialLong = $('.search_longitude').val();
                            initialLat = initialLat?initialLat:49.40260643821398;
                            initialLong = initialLong?initialLong:8.672605161376964;
                            var latlng = new google.maps.LatLng(initialLat, initialLong);
                            var options = {
                                zoom: 10,
                                center: latlng,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            };
                            map = new google.maps.Map(document.getElementById("geomap"), options);
                            geocoder = new google.maps.Geocoder();
                            marker = new google.maps.Marker({
                                map: map,
                                draggable: true,
                                position: latlng
                            });
                            google.maps.event.addListener(marker, "dragend", function () {
                                var point = marker.getPosition();
                                map.panTo(point);
                                geocoder.geocode({'latLng': marker.getPosition()}, function (results, status) {
                                    if (status == google.maps.GeocoderStatus.OK) {
                                        map.setCenter(results[0].geometry.location);
                                        marker.setPosition(results[0].geometry.location);
                                        $('.search_addr').val(results[0].formatted_address);
                                        $('.search_latitude').val(marker.getPosition().lat());
                                        $('.search_longitude').val(marker.getPosition().lng());
                                    }
                                });
                            });
                        }
                        $(document).ready(function () {
                            //load google map
                            initialize();
                            /*
                             * autocomplete location search
                             */
                            var PostCodeid = '#search_location';
                            $(function () {
                                $(PostCodeid).autocomplete({
                                    source: function (request, response) {
                                        geocoder.geocode({
                                            'address': request.term
                                        }, function (results, status) {
                                            response($.map(results, function (item) {
                                                return {
                                                    label: item.formatted_address,
                                                    value: item.formatted_address,
                                                    lat: item.geometry.location.lat(),
                                                    lon: item.geometry.location.lng()
                                                };
                                            }));
                                        });
                                    },
                                    select: function (event, ui) {
                                        $('.search_addr').val(ui.item.value);
                                        $('.search_latitude').val(ui.item.lat);
                                        $('.search_longitude').val(ui.item.lon);
                                        var latlng = new google.maps.LatLng(ui.item.lat, ui.item.lon);
                                        marker.setPosition(latlng);
                                        initialize();
                                    }
                                });
                            });
                            /*
                             * Point location on google map
                             */
                            $('.get_map').click(function (e) {
                                var address = $(PostCodeid).val();
                                geocoder.geocode({'address': address}, function (results, status) {
                                    if (status == google.maps.GeocoderStatus.OK) {
                                        map.setCenter(results[0].geometry.location);
                                        marker.setPosition(results[0].geometry.location);
                                        $('.search_addr').val(results[0].formatted_address);
                                        $('.search_latitude').val(marker.getPosition().lat());
                                        $('.search_longitude').val(marker.getPosition().lng());
                                    } else {
                                        alert("Geocode was not successful for the following reason: " + status);
                                    }
                                });
                                e.preventDefault();
                            });
                            //Add listener to marker for reverse geocoding
                            google.maps.event.addListener(marker, 'drag', function () {
                                geocoder.geocode({'latLng': marker.getPosition()}, function (results, status) {
                                    if (status == google.maps.GeocoderStatus.OK) {
                                        if (results[0]) {
                                            $('.search_addr').val(results[0].formatted_address);
                                            $('.search_latitude').val(marker.getPosition().lat());
                                            $('.search_longitude').val(marker.getPosition().lng());
                                        }
                                    }
                                });
                            });
                        });
                    </script>


                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer">


        <p>&copy;Volunteer Team
        </p>



    </div>
</footer>

</body>
</html>
