<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
		
  
 
  <script>
	function validateWork() {
    var l = document.forms["look"]["pincode"].value;
	if (l== "" ) {
        alert("Please Enter pincode");
        return false;
    }
	
}

</script>
  </head>

<body>
    <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        
        <a class="navbar-brand" href="index.html" src="">Volunteer Work</a>
      </div>
      <nav class="navbar-collapse collapse">
	  
		<ul class="nav navbar-nav ">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
		  <li><a href="listwork.html"> List your Work </a></li>
		   <li><a href="lookwork.html">Look for Work </a></li>
		  
        </ul>
	
        <ul class="nav navbar-nav navbar-right">
      
          <li><a href="login.html">Login</a></li>
        </ul>
      </div>
      
    </div>
  </nav>
  
  <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                	            
                    <div class="row">
                        <div class="col-sm-5">
                        	
                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Looking for work?</h3>
	                            		<p>Please enter the below details</p>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-lock"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
		
	  <form name="look" role="form" action="ex.js" onsubmit="validateWork()" method="post">
	  
		<div class="form-group">
		
		<select class="selectpicker">
		
		<option value="choose">Choose Type of Work</option>
		<option value="domestic">Domestic Work</option>
		<option value="farming">Farming</option>
		<option value="garden">Garden Work</option>
		<option value="disabled">Help Disabled People</option>
	  </select>
	</div>
	<div class="form-group">
	
      <input type="text" placeholder="Enter Address" name="address">
    </div>
	
	
	<button type="submit" class="btn btn-default">Submit</button>
  
</form>
  
</div>
	                 </div>
		                
	                        
                        </div>
</div>
</div>
		                
	                        
                        </div>
</div>
<footer>
        	<div class="container">
        		<div class="row">
        			
        			<div class="col-sm-8 col-sm-offset-2">
        				<div class="footer-border"></div>
        				<p>&copy;Volunteer Team 
        					</p>
        			</div>
        			
        		</div>
        	</div>
        </footer>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/scripts.js"></script>
       
</body>
</html>